@use './index.scss';

/* ------------------- */
/* Utility Classes     */
/* ------------------- */

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid hsl(var(--clr-primary));
  outline-offset: 3px;
}

/* ------------------- */
/* Typography          */
/* ------------------- */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* ------------------- */
/* App                 */
/* ------------------- */

.canvas-container {
  width: 100vw;
  height: 100vh;
  position: relative;

  .Card {
    position: absolute;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;


    &__container {
      display: grid;
      grid-template-areas:
        '. header header .'
        'main main main main';
      margin: 3em auto;
      width: 90vw;
      height: 100vh;
      background-color: #363d42;
      overflow-x: hidden;
      background: hsl(var(--clr-light) / 0.1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(0.5625em);
      -webkit-backdrop-filter: blur(0.5625em);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      @media (min-width: 55em){
        &{
          grid-template-areas: 
          'header . main main'
          'header . main main'
          'header . main main'
          'header . main main';
        }
      }
    }

    &__header {
      grid-area: header;
      
      @media (min-width: 55em){
        &{
          width: 30%;
        }
      }

    }

    &__main {
      grid-area: main;
      @media (min-width: 55em) {
        &{
          width: 70%;
        }
      }
    }
  }

}

